﻿body {
}

.button1 {
    background-color: #1eabe2 !important;
    color: black !important;
    border-radius: 2px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    /*padding-top: 2.5px;
    padding-bottom: 2.5px;
    border: none;*/
    border-color: #1eabe2 !important;
}
.button2 {
    background-color: #1eabe2 !important;
    color: black !important;
    border-radius: 2px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    /*padding-top: 2.5px;
    padding-bottom: 2.5px;
    border: none;*/
    border-color: #1eabe2 !important;
}
.banner {
    background-color: #1eabe2 !important;
}
